[ThrowHelper.cs]
dotnet_diagnostic.CA1305.severity = silent
dotnet_diagnostic.CA2208.severity = silent
dotnet_diagnostic.CS8604.severity = silent
dotnet_diagnostic.CS8669.severity = silent
generated_code = true

[SR.cs]
dotnet_diagnostic.CA1508.severity = silent
