[*.cs]
dotnet_diagnostic.CA1707.severity = silent # Identifiers should not contain underscores
dotnet_diagnostic.IDE0007.severity = silent # Use 'var' instead of explicit type
dotnet_diagnostic.IDE0008.severity = silent # Use explicit type instead of 'var'
dotnet_diagnostic.IDE0017.severity = silent # Use object initializers
dotnet_diagnostic.IDE0058.severity = silent # Remove unnecessary expression value

[RistTest.cs]
resharper_possible_multiple_enumeration_highlighting = hint
