[*.cs]
dotnet_diagnostic.CA1707.severity = silent # Identifiers should not contain underscores
dotnet_diagnostic.IDE0007.severity = silent
dotnet_diagnostic.IDE0008.severity = silent
dotnet_diagnostic.IDE0017.severity = silent
dotnet_diagnostic.IDE0058.severity = silent

[RistTest.cs]
resharper_possible_multiple_enumeration_highlighting = hint
