[Fictionary.cs]
dotnet_diagnostic.CA1034.severity = silent # Nested types should not be visible
dotnet_diagnostic.CA1062.severity = silent # Validate arguments of public methods
dotnet_diagnostic.CA1710.severity = silent # Identifiers should have correct suffix
dotnet_diagnostic.CS8602.severity = silent # Dereference of a possibly null reference
dotnet_diagnostic.CS8618.severity = silent # Non-nullable member is uninitialized
dotnet_diagnostic.CS8669.severity = silent # The annotation for nullable reference types should only be used in code within a '#nullable' context
dotnet_diagnostic.CS8767.severity = silent # Nullability of type of parameter doesn't match implicitly implemented member (possibly because of nullability attributes)
generated_code = true

[Fictionary.Partial.cs]
dotnet_diagnostic.CA1000.severity = silent # Do not declare static members on generic types
dotnet_diagnostic.CA1005.severity = silent # Avoid excessive parameters on generic types
dotnet_diagnostic.CA1710.severity = silent # Identifiers should have correct suffix
resharper_unused_type_parameter_highlighting = hint
