[Fictionary.cs]
dotnet_diagnostic.CA1034.severity = silent
dotnet_diagnostic.CA1062.severity = silent
dotnet_diagnostic.CA1710.severity = silent
dotnet_diagnostic.CS0436.severity = silent
dotnet_diagnostic.CS8602.severity = silent
dotnet_diagnostic.CS8618.severity = silent
dotnet_diagnostic.CS8669.severity = silent
dotnet_diagnostic.CS8767.severity = silent
generated_code = true

[Fictionary.Partial.cs]
dotnet_diagnostic.CA1000.severity = silent
dotnet_diagnostic.CA1005.severity = none
dotnet_diagnostic.CA1710.severity = silent
resharper_unused_type_parameter_highlighting = hint
